body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  button {
    margin: 5px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 10px 0;
  }

  #recording-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #lista-archivos .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #lista-archivos .btn-group .btn {
    margin-left: 5px;
  }
  
  #pagination-container .btn {
    margin: 0 2px;
  }
  